<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>General Practitioner - In the NHS</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="pixel-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="pixelNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="portfolio.html">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">Services</a>
                                                <ul class="dropdown">
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="services.html">Services</a></li>
                                                    <li><a href="portfolio.html">Portfolio</a>
                                                        <ul class="dropdown">
                                                            <li><a href="index.html">Home</a></li>
                                                            <li><a href="about.html">About Us</a></li>
                                                            <li><a href="services.html">Services</a></li>
                                                            <li><a href="portfolio.html">Portfolio</a></li>
                                                            <li><a href="contact.html">Contact</a></li>
                                                            <li><a href="elements.html">Elements</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="contact.html">Contact</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Mega</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Home</a></li>
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>

                                <!-- Top Social Info -->
                                <div class="top-social-info ml-5">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                    <a href="#"><i class="fa fa-flickr"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/8.jpg);">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Feature Area Start ##### -->
    <section class="pixel-feature-area d-flex flex-wrap">
        <!-- Feature Thumbnail -->
        <div class="feature-thumbnail bg-img jarallax" style="background-image: url(img/bg-img/12.jpg);"></div>

        <!-- Feature Content -->
        <div class="feature-content">
            <h1>About GPs</h1>
            <p>GPs are not specialised, rather than reading on book on a shelf, they take a page out of all of them.</p>
            <p>They treat common and refer cases to specialists if nessasary. They focus on the overall health of a person from physical to mental health. Your GP always has you covered and if he doesn't, they'll know someone who does.            </p>
            <p>
                 •	Patient consultations at home and within the surgery.<br>
                 •	Physical examinations. <br>
                 •	Diagnosis and treatment of illnesses. <br>
                 •	Working with other healthcare professionals and/or hospitals.<br>
            </p>
        </div>
    </section>
    <!-- ##### Feature Area End ##### -->

    <!-- ##### Feature Area Start ##### -->
    <section class="pixel-feature-area d-flex flex-wrap">
        <!-- Feature Content -->
        <div class="feature-content">
            <h1>What GPs do</h1>
            <p>GPs attend to patients of all ages from newborn babies to elderly people. The continuous relationship that GPs are able to establish with their patients and being able to offer continuity of care is one of the most paramount and enjoyable aspects of the job. </p>
            <p>Patients are often quite well informed about their own conditions and GPs will work with them together to decide on a mutually acceptable plan.</p>
            <p>Some responsibilities of GPs include (but are not limited to):</p>
            <p>Being a GP gives opportunity for flexible or part time work and can rack up a decent salary (see in dedicated page).</p>
            <a href="services.html" class="btn pixel-btn mt-15">Salary</a>
        </div>

        <!-- Feature Thumbnail -->
        <div class="feature-thumbnail bg-img jarallax" style="background-image: url(img/bg-img/13.jpg);"></div>
    </section>
    <!-- ##### Feature Area End ##### -->

    <!-- ##### Cool Facts Area Start ##### -->
    <section class="pixel-cool-facts-area bg-gray section-padding-100-0">
        <div class="container-fluid">
            <div class="row">

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100">
                        <div class="scf-icon">
                            <img src="img/core-img/m1.png" alt="">
                        </div>
                        <div class="scf-text">
                            <h2><span class="counter">61442</span></h2>
                            <h6>Average Yearly Salary</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100">
                        <div class="scf-icon">
                            <img src="img/core-img/m2.png" alt="">
                        </div>
                        <div class="scf-text">
                            <h2><span class="counter">33574</span></h2>
                            <h6>Working GPs, as of March</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100">
                        <div class="scf-icon">
                            <img src="img/core-img/m3.png" alt="">
                        </div>
                        <div class="scf-text">
                            <h2><span class="counter">5000</span></h2>
                            <h6>Extra GPs needed by 2020</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Cool Facts -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact mb-100">
                        <div class="scf-icon">
                            <img src="img/core-img/m4.png" alt="">
                        </div>
                        <div class="scf-text">
                            <h2><span class="counter">1000</span></h2>
                            <h6>GPs have left the workforce since 2015</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Cool Facts Area End ##### -->
<br>
    <!-- ##### Team Area Start ##### -->
    <!-- ##### Team Area End ##### -->

    <!-- ##### Testimonial Area Start ##### -->
    <section class="testimonial-area mb-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Testimonial Slides -->
                    <div class="testimonial-slides owl-carousel">

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <br>
                            <h4>Theodore Bikel</h4>
                            <span>General Practitioner</span>
                            <h5>I am not a specialist but a practitioner of the world of arts</h5>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <br>
                            <h4>A department of health and social care spokesperson</h4>
                            <span>Client</span>
                            <h5>More than 3,000 GPs have entered training this year, 1,500 new medical school places are being made available by 2019 and NHS England plans to recruit an extra 2,000 overseas doctors in the next three years.</h5>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <br>
                            <h4>Earl Wilson</h4>
                            <span>Journalist</span>
                            <h5>You may not be able to read a doctor's handwriting and prescription, but you'll notice his bills are neatly typewritten.
                                </h5>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <br>
                            <h4>General Practice News</h4>
                            <span>June 1948</span>
                            <h5>The general practitioner should be the first line of defence for the patient - the
                            medical 'clearing house.' The family doctor practices the broadest specialty in
                            medicine.</h5>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-testimonial-slide">
                            <br>
                            <h4>General Practice News</h4>
                            <span>Feb 1950</span>
                            <h5>. . . the general practitioner - the 'family doctor' - is the key figure in medical
                            service to the patient . . . The family doctor is perfectly competent to take care of
                            85 percent of the illnesses to which you are liable . . .</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Testimonial Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-footer-widget mb-100">
                        <!-- Footer Logo -->
                        <a href="index.html" class="footer-logo"><img src="img/core-img/logo.png" alt=""></a>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                    <div class="row">
                        <!-- Single Footer Widget -->
                        <div class="col-sm-4">
                            <div class="single-footer-widget mb-100">
                                <h5 class="widget-title">School</h5>
                                <p>Moat Community College <br> Leicester, Highfields.</p>
                            </div>
                        </div>

                        <!-- Single Footer Widget -->
                        <div class="col-sm-4">
                            <div class="single-footer-widget mb-100">
                                <h5 class="widget-title">Support</h5>
                                <p><i class="fa fa-phone"></i> <br> <a href='https://moat.glitch.me/' style='color: #fff'>Moat Student Chat Service<br> Open Source by Waqqas Ibrahim</a></p>
                            </div>
                        </div

                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="copywrite-content">
                            <!-- Copywrite Text -->
                            <p class="copywrite-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async>
        const crate = new Crate({
            server: '446420768868401152',
            channel: '516263726509195264',
            shard: 'https://cl2.widgetbot.io'
        });
        //crate.notify('Talk to the developers!');
    </script>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>