<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>General Practitioner - In the NHS</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="pixel-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container-fluid">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="pixelNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="services.html">Salary</a></li>

                                    <li><a href="contact.html">Contact</a></li>
                                </ul>

                                <!-- Top Social Info -->
                                <div class="top-social-info ml-5">
                                    <a href="#"><i class="fa fa-facebook"></i></a>

                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/8.jpg);">
        <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Services Catagory Area Start ##### -->
    <div class="services-catagory-area d-flex flex-wrap">
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(img/bg-img/19.jpg);">
            <a href="#">Work in a Social Environment</a>
        </div>
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(img/bg-img/20.jpg);">
            <a href="#">Work With<br> State of The Art Technology</a>
        </div>
        <!-- Single Service Catagory -->
        <div class="single-service-cata bg-img d-flex align-items-center justify-content-center jarallax" style="background-image: url(img/bg-img/21.jpg);">
            <a href="#">Work With <br> What You Want</a>
        </div>
    </div>
    <!-- ##### Services Catagory Area End ##### -->

    <!-- ##### Services Block Area Start ##### -->
    <section class="services-block-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <h4>Salary</h4>
                        <p>
                            For salaried GPs employed under the model salaried GP contract, the salary range set out by the DDRB (Doctors and Dentists Review Body) applies. This states that the minimum annual salary for a full-time salaried GP working 37.5 hours or nine sessions per week is £57,655 for 2018-19 (plus London weighting for those working in London). For a doctor working less than full time, this salary is calculated on a pro rata basis (eg if working 20 hours per week then the minimum salary would be £30,146.
                        </p>
                    </div>
                </div>
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <h4>Overtime</h4>
                        <p>Extra pay if one works over 40 hours. A GP can get up to 37% increase in pay for working nights.</p>
                    </div>
                </div>
                <!-- Single Service Block -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-service-block mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <h4>In Basic Terms</h4>
                        <p>The national average salary for a GP is £81,200 in UK. Good enough for you? </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Services Block Area End ##### -->

    <!-- ##### Prices Area Start ##### -->
    <section class="pixel-prices-area d-flex flex-wrap section-padding-100">

        <!-- Single Price Table Area -->
        <div class="single-price-table-area mb-100">
            <div class="price-value">
                <h2><span>57,655</span><span>/ year</span></h2>
            </div>
            <h2>Minimum</h2>
            <p>The minimum annual salary for a full-time salaried GP working 37 and 1/2 hours or nine sessions per week is £57 ,655 for 2018-19.
            </p>
        </div>

        <!-- Single Price Table Area -->
        <div class="single-price-table-area mb-100">
            <div class="price-value">
                <h2><span>21,614</span><span>/ year</span></h2>
            </div>
            <h2>Junior Doctors</h2>
            <p>Junior doctors in Foundation Year 1 earn a basic starting salary of £26,614. In Foundation Year 2, this rises to £30,805.            </p>
        </div>

        <!-- Single Price Table Area -->
        <div class="single-price-table-area active mb-100">
            <div class="price-value">
                <h2><span>54,000</span><span>/ year</span></h2>
            </div>
            <h2>Mid-Career Experience</h2>
            <p>A General Practitioner with mid career experience which includes employees with 5 to 10 years of experience can expect to earn an average total wage of ₤54,000 based on 37 salaries.            </p>
        </div>

        <!-- Single Price Table Area -->
        <div class="single-price-table-area mb-100">
            <div class="price-value">
                <h2><span>51,000</span><span>/ month</span></h2>
            </div>
            <h2>Entry Level</h2>
            <p>An entry-level GP with less than 5 years of experience can expect to earn an average total salary of ₤51,000 based on 62 salaries.</p>

        </div>

    </section>
    <!-- ##### Prices Area End ##### -->


    <!-- ##### Service Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area section-padding-100-0">
        <div class="container-fluid">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="single-footer-widget mb-100">
                        <!-- Footer Logo -->
                        <a href="index.html" class="footer-logo"><img src="img/core-img/logo.png" alt=""></a>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                    <div class="row">
                        <!-- Single Footer Widget -->
                        <div class="col-sm-4">
                            <div class="single-footer-widget mb-100">
                                <h5 class="widget-title">School</h5>
                                <p>Moat Community College <br> Leicester, Highfields.</p>
                            </div>
                        </div>

                        <!-- Single Footer Widget -->
                        <div class="col-sm-4">
                            <div class="single-footer-widget mb-100">
                                <h5 class="widget-title">Support</h5>
                                <p><i class="fa fa-phone"></i> <br> <a href='https://moat.glitch.me/' style='color: #fff'>Moat Student Chat Service<br> Open Source by Waqqas Ibrahim</a></p>
                            </div>
                        </div

                        <!-- Single Footer Widget -->
                        <div class="col-sm-4">
                            <div class="single-footer-widget mb-100">
                                <h5 class="widget-title">Social</h5>
                                <div class="footer-social-info">
                                    <a href="#"><i class="fa fa-facebook"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <div class="copywrite-content">
                            <!-- Copywrite Text -->
                            <p class="copywrite-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <nav class="footer-nav">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About GPs</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async>
        const crate = new Crate({
            server: '446420768868401152',
            channel: '516263726509195264',
            shard: 'https://cl2.widgetbot.io'
        });
        //crate.notify('Talk to the developers!');
    </script>
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>